body {
    /*background: black;*/
    overflow: hidden;
}

.top {
    padding-top: 2%;
    text-align: center;
    height: 10vh;
}

button {
    height: 60px;
    font-size: 20px;
    background: blue;
    color: white;
    border-radius: 25%;
    margin: 20px;
    padding: 5px;
}

button:hover {
    background-color: lightskyblue;
    transition: 0.5s;
}

.mid {
    width: auto;
    height: 75vh;
    margin: 0 auto;
    overflow-wrap: break-word;
}

#area {
    position: absolute;
    width: 100vw;
    height: 75vh;
    top: 12vh;
    left: 0;
    padding: 0;
    color: red;
}

.display {
    height: 50px;
    color: blue;
    inline-size: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 20px;
    text-align: inherit;
    justify-content: center;
}

.bottom {
    position: absolute;
    top: 90vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    align-content: center;
    white-space: nowrap;
    /*bottom: 10%;
    right: 40%;*/
}

output {
    color: blue;
    font-size: 25px;
    padding: 10px;
    align-content: center;
}

.slider {
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);

}